@model AllProjectsViewModel

<h2>List of projects</h2>

<div class="container">
    <div class="row">
        @foreach(var project in Model.projects){
            <div onclick="location.href='/projects/tasks?projectId=@project.Id';" class="card col-sm-12 col-md-6 col-lg-4">
                <h3>@project.Title</h3>
            </div>
        }
    </div>
    <div class="addProject1"></div>
    @* <div class="addProject2"> *@
        <form class="addProject2" asp-action="Index">
            <input class="title" asp-for="Title" placeholder="Title of the project">
            <input class="submitInput" type="submit">
        </form>
    @* </div> *@
</div>